@import "tailwindcss";

:root {
  --color-bg:        #0E0E0E;  /* glavni tamni background */
  --color-fg:        #ffffff;

  --color-yellow:    #FFF02D;  /* ZeFit žuta */
  --color-card: #131313;  /* sivi card */
  --color-input:     #E9F1FF;  /* svjetlo-plava za input */
  --color-blackish:  #0E0E0E;  /* skoro crna */

  --radius-pill:     9999px;   /* helper za zaobljenja */
}

@theme inline {
  --color-background: var(--color-bg);
  --color-foreground: var(--color-fg);
  --font-sans: var(--font-geist-sans, ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Arial, "Noto Sans", "Segoe UI Emoji");
}

html, body, :root { height: 100%; }
body {
  background: var(--color-background);
  color: var(--color-foreground);
}

.pill {
  border-radius: var(--radius-pill);
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}
